*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin:0;
}

h1, h2, h3, p {
    margin: 0;
    
}
ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color:inherit;
}



/* =============CONTAINER=========== */
 .container { 
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;  
  margin-left: auto;
  margin-right: auto;
}
/*==================HEADER=========== */
.header{
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;

}


.navigation{
    display: flex;
    align-items: center;
   

}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    display: block;
    line-height: 1.17;
    padding: 24px 0;
    margin-right: 76px;
    
   
}

.logo span {
    color: #2e2f42;
}


.nav-list {
    display: flex;
    gap: 40px; 
}

.nav-link{
    display: block;
    padding: 24px 0;
    font-weight:500;
    color: #2e2f42;
    line-height: 1.5;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.02em;
    transition: color 250ms ease;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
   
 /*=========CONTACTS=========*/
 .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-link {
    display: block;
     color:#434455;
    padding:24px 0;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms ease;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* ======== HERO ======== */
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
}
.hero-title {
    color: #ffffff;
    font-size: 56px;
    max-width: 496px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    margin: 0 auto 48px;
}
.hero-btn {
    display: inline-block;
    padding: 16px 32px;/* текст по центру вертикально */
    text-align: center; /* по центру горизонтально */
    cursor: pointer;
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms ease;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
    
}
/*===========SECTION========*/
.section{
    padding: 120px 0;
}

.section-title{
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
}


/* ======== FEATURES ======== */
.features{
    padding: 120px 0; 

}
.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
    
}

.features-item {
    background-color: #fff;
    padding: 24px;
    width: calc((100% -  72px) / 4);
}
.features-title {
    font-size: 20px;
    margin-bottom: 8px;
    color:#2e2f42 ;

}
/*========== TEAM ========*/

.team{
    background-color:#f4f4fd;
    padding: 120px 0;
}
.team-list{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}
.team-item{
    background-color:#fff;
    border-radius: 0 0 4px 4px;
    text-align: center;
    box-sizing: border-box;
    width: calc((100% - 72px) / 4);
 }

 .team-item img{
    display: block;
    max-width: 100%;
    border-radius: 4px;
   
 }
.team-title{
    text-align:center;
    margin-bottom: 72px;
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;

}
.team-name{
    font-weight: 500;
font-size: 20px; 
line-height: 1.2;
letter-spacing:0.02em;
text-align: center;
color: #2e2f42;
margin: 8px 0 8px;

}
.team-position{
    font-size: 16px;
    color: #434455;
    margin: 0;
}
 .team-card-content{
    padding: 32px 16px;
    text-align: center;
 }
/*============ PORTFOLIO =====================*/
.portfolio{
    padding: 120px 0;
}
.portfolio-title{
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.portfolio-card {
    background-color: #ffffff;
    width: calc((100% - 48px) / 3);
    border-radius: 4px;
    text-align: center;
   
}
.portfolio-info {
    padding:  32px 16px;
    text-align: center;
    border: 1px solid #e7e9fc;
    border-top: none;
    text-align: left;
}
.portfolio-name{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
margin-top: 0;
margin-bottom: 8px;
}
.portfolio-type{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin: 0;

}
.features-title,
.team-title,
.portfolio-title {
    color: #2e2f42;
    font-weight: 700;
    letter-spacing: 0.02em;
}
 


.features-text {
    color: #434455;
}
.team-title,
.portfolio-title {
    font-size: 36px;
    text-align: center;
    
}
.features-text,
.team-position,
.portfolio-type,
.footer-text{
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.team-name,
.portfolio-name{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.02em;

}
.team-name,
.team-position{
    text-align:center;
}
/*============ FOOTER =====================*/
.footer{
    background-color: #2e2f42;
    padding:  100px 0;
}

.footer .logo {
    display:inline-block;
    margin-bottom: 16px;

}

.footer .logo span{
    color: #f4f4fd;

}
.footer-logo {
    display: flex;
    

}

.footer-text{
    color: #f4f4fd;
    max-width: 264px;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0;
}